body{

	height:1200px;
}

.wrapper{
  position:relative;
  max-width:100%;
}

.content{
  position:absolute;
  margin:0;
  padding:0;
  width:100%;
}

h1{
  position:relative;
  margin-left:25%;
}

section{

  padding-bottom:2em;
}

#quadrant-wave h2{
  position:relative;
  top:-1em;
}